.idea/*
.bundle
test
vendor/bundle
vendor/ruby
log/*
tmp/*
!/log/.keep
!/tmp/.keep
.byebug_history
config/database.yml
.ruby-gemset
.ruby-version
public/uploads
public/assets
.rocker_docker.yml
docker-compose.yml
.dockerignore
.rocker_docker/mysql/data_dir/*
